streamlit

# Utilitites
numpy
pandas

# Computer Vision
opencv-python-headless

# Image
pillow


# Face Recoqnition
scikit-learn
dlib-bin
face-recognition
git+https://github.com/ageitgey/face_recognition_models

# Database
supabase
bcrypt

# QR
segno



# Audio
librosa
resemblyzer


setuptools<70.0.0


